<span class="flower-stem"></span>
<span class="flower-leaf flower-leaf-1"></span>
<span class="flower-leaf flower-leaf-2"></span>
<span class="flower-head">
    <span class="flower-center"></span>
    <span class="flower-petal flower-petal-1"></span>
    <span class="flower-petal flower-petal-2"></span>
    <span class="flower-petal flower-petal-3"></span>
    <span class="flower-petal flower-petal-4"></span>
    <span class="flower-petal flower-petal-5"></span>
    <span class="flower-petal flower-petal-6"></span>
</span>
