# Primjer .env datoteke za BlogPlatform
# Ovo je samo primjer. Pravi .env NE ide na GitHub.

# Lokalni razvoj
DEBUG=True
SECRET_KEY=promijeni-ovo-lokalno
ALLOWED_HOSTS=127.0.0.1,localhost
SITE_URL=http://127.0.0.1:8000

# Lokalna SQLite baza
# Ako ovo ostane prazno ili ne postoji, koristi se db.sqlite3.
SQLITE_DB_NAME=db.sqlite3

# Produkcijska PostgreSQL baza
# Ovo ostavi prazno lokalno.
# Na hostingu se ovdje ili u hosting environment varijablama stavlja prava vrijednost.
# Primjer:
# DATABASE_URL=postgresql://korisnik:lozinka@host:5432/naziv_baze
DATABASE_URL=

# SSL za produkcijsku bazu
# Lokalno može biti False.
# Na hostingu obično True.
DATABASE_SSL_REQUIRE=False
DATABASE_CONN_MAX_AGE=600
