{% load custom_tags %}
{# Extracted from blog/designs/misticno_jezero.html. #}
{# Uses existing template context: post, blog_preferences, request, user, etc. #}
<article class="mj-post">
                    {% include "blog/components/special_designs/bespoke_post_date.html" with date_wrapper_class="mj-post-date" %}
                    <div class="mj-post-divider"></div>
                    <div class="d-flex flex-column" style="gap: 10px; min-width: 0;">
                        <h4 class="mb-0">{{ post.title }}</h4>
                        {% include "blog/components/post_meta.html" %}
                    </div>

                    <div class="mt-4">
                        {% include "blog/components/post_body.html" %}
                    </div>

                    {% include "blog/components/post_actions.html" %}
                    {% include "blog/components/post_comments.html" %}
                </article>
