{% load custom_tags %}
{# Extracted from blog/designs/staza_prema_vrhovima.html. #}
{# Uses existing template context: post, blog_preferences, request, user, etc. #}
<article class="spv-post">
                    <div class="spv-post-date">{{ post.publication_datetime|date:"d.m.Y" }}</div>
                    <div class="spv-post-divider"></div>
                    <div class="d-flex flex-column" style="gap: 10px; min-width: 0;">
                        <h4 class="mb-0">{{ post.title }}</h4>
                        {% include "blog/components/post_meta.html" %}
                    </div>

                    <div class="mt-4">
                        {% include "blog/components/post_body.html" %}
                    </div>

                    {% include "blog/components/post_actions.html" %}
                    {% include "blog/components/post_comments.html" %}
                </article>
