{% extends "blog/base.html" %}
{% block left_sidebar %}{% endblock %}
{% block right_sidebar %}{% endblock %}

{% block content %}

<div class="card shadow-sm p-4">
    <h3>Uredi box</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Naslov:</label>
            {{ form.title }}
        </div>

        <div class="mb-3">
            <label>Sadržaj:</label>
            {{ form.content }}
        </div>

        <div class="mb-3">
            <label>Pozicija:</label>
            {{ form.position }}
        </div>

        <button type="submit" class="btn btn-primary">
            Spremi promjene
        </button>
    </form>
</div>

{% endblock %}