<!DOCTYPE html>
<html>
<head>
    <title>Uredi post</title>
</head>
<body>

    <h1>Uredi post</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

    {{ form.media }}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="mb-3">{{ form.title.label_tag }}{{ form.title }}{% for error in form.title.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        <div class="mb-3">{{ form.category.label_tag }}{{ form.category }}{% for error in form.category.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        <div class="mb-3">{{ form.content.label_tag }}{{ form.content }}{% for error in form.content.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        <div class="mb-3">{{ form.image.label_tag }}{{ form.image }}{% for error in form.image.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        <div class="mb-3">{{ form.video_url.label_tag }}{{ form.video_url }}{% for error in form.video_url.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        <div class="mb-3">{{ form.tags_input.label_tag }}{{ form.tags_input }}{% for error in form.tags_input.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        <div class="form-check mb-3">{{ form.allow_comments }} <label class="form-check-label" for="{{ form.allow_comments.id_for_label }}">{{ form.allow_comments.label }}</label>{% for error in form.allow_comments.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        <div class="mb-3">{{ form.publish_at.label_tag }}{{ form.publish_at }}<div class="small text-muted mt-1">Ako upišeš datum i vrijeme pa klikneš Objavi, post će biti objavljen tada. Ako ostaviš prazno, objavit će se odmah.</div>{% for error in form.publish_at.errors %}<div class="text-danger small mt-1">{{ error }}</div>{% endfor %}</div>
        {% if post.image %}
            <div class="mb-3">
                <p>Trenutna slika:</p>
                <img src="{{ post.image.url }}" 
                    class="img-fluid rounded mb-2"
                    style="max-height:300px; object-fit:contain;">
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="delete_image" id="deleteImage">
                    <label class="form-check-label" for="deleteImage">
                        Izbriši sliku
                    </label>
                </div>
            </div>
        {% endif %}
        <button type="submit" name="publish_post">Objavi</button>
        <button type="submit" name="save_draft">Spremi kao draft</button>
    </form>
    <a href="/">Natrag</a>

</body>
</html>