{% load custom_tags %}
<div class="container page-top-align blog-posts-shell{% if blog.profile.template == 'default_right' or blog.profile.template == 'dark_right' or blog.profile.template == 'classic_right' %} blog-posts-shell--wide{% endif %}{% if blog.profile.template == 'simple_pattern' or blog.profile.template == 'simple_image' or blog.profile.template == 'simple_retro' %} blog-posts-shell--simple{% endif %}{% if blog.profile.template == 'simple_retro' %} blog-posts-shell--simple-retro{% endif %}">
    <div class="page-top-align">
        {% for post in page_obj %}
            {% include "blog/components/post_card.html" %}
        {% empty %}
            <p>Nema postova.</p>
        {% endfor %}

        {% include "blog/components/blog_pagination.html" %}
    </div>
</div>

{% include "blog/components/blog_interaction_scripts.html" %}
